.color-alpha-slider {
    position: relative;
    height: 15%;
    width: 100%;
    background: repeating-conic-gradient(#ccc 0% 25%, #fff 0% 50%) 50% / 20px 20px;
    cursor: url('../../assets/icons/eyedropper@2x.png') 0 23, auto;

    &:before {
        content: "";
        position: absolute;
        inset: 0;
        background: linear-gradient(to right, #ffffff00, var(--color));
    }
}